---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Products - Pinion LLC" script="products">
  <h2 class="page-title">Our Products</h2>
  <div class="products-grid" id="products-container">
    <!-- Products will be dynamically loaded here -->
  </div>
</Layout>
